.title {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  font-family: 'Bebas Neue', serif;
  letter-spacing: 0.03em;

  @media (max-width: 768px) {
    font-size: 3rem;
    text-align: center;
  }

  @media (max-width: 640px) {
    font-size: 2rem;
  }
}
